@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    font-family: "Playfair Display", Georgia, serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 500;
    color: #999999;
}

li {
    display: list-item;
}

.container-fluid .col-md-9 {
    padding: 0;
}

.container-fluid .col-md-3 {
    padding: 0;
}

.side-bar {
    padding-top: 4em;
    padding-bottom: 40px;
    padding-left: 5em;
    padding-right: 4.5em;
    position: fixed;
    background-color: #f2f3f7 !important;
    bottom: 0;
    top: 0;
    left: 0;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.04);
    transition: all 0.5s ease;
    text-align: center;
}

.side-bar .profile-img img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 50%;
}

.side-bar h1 {
    display: block;
    text-align: center;
    color: #000;
    padding-right: .3em;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 700;
    font-size: 22px;
    margin-top: 20px;
}

.side-bar p {
    display: block;
    margin-bottom: 2em;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.5)
}

.side-bar h1 a {
    color: #000;
    text-decoration: none;
}

.main-menu {
    margin-top: 30px;
    text-align: center;
}

.main-menu ul li {
    margin: 0px 30px 15px 0px;
    /* padding: 0; */
    list-style: none;
    font-size: 14px;
    font-weight: 500;
}

.main-menu ul li a {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.main-menu ul li a:hover {
    color: #2c98f0;
    border-bottom: 1px solid #2c98f0;
}

.main-menu ul .main-menu-active {
    color: #2c98f0;
    border-bottom: 1px solid #2c98f0;
}

.header {
    background: url("/portfolio/assets/images/header1.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    height: 620px;
}

.header .header-content {
    position: relative;
    background-color: rgb(0, 0, 0, 0.6);
    height: 100%;
    padding: 150px 50px 200px 50px;
    width: 100%;
    text-align: center;
}

.header .header-content p {
    padding: 0 130px 0 120px;
    font-size: 14px;
}

.header .header-content h2 {
    font-size: 16px;
    color: #ffffff;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 200;
}

.header .header-content h1 {
    letter-spacing: 1px;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin: 20px 0px 20px 0px;
}

.header .header-content p {
    margin: 0px 0px 40px 0px;
}

.header .header-content a {
    padding: 10px 20px 10px 20px;
    font-weight: 400;
    color: #BAC964;
    border: 2px solid #BAC964;
    text-decoration: none;
}

.header .header-content a:hover {
    color: #fff;
    border: 2px solid #fff;
    background-color: #000;
    transition: 1s ease;
}

.resume-details {
    background-color: #222;
}

.section-heading h2 {
    padding-top: 20px;
    font-size: 30px;
    color: #fff;
    font-family: "Playfair Display", Georgia, serif;
}

.section-heading {
    padding: 20px;
    text-align: center;
}

.progress-container {
    padding: 20px;
}

.progress {
    height: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f2f3f7;
    overflow: visible;
}

.progress .progress-bar {
    box-shadow: none;
    font-size: 12px;
    line-height: 1.2;
    color: #fff;
    font-weight: 600;
    text-align: right;
    position: relative;
    overflow: visible;
    border-radius: 8px;
    height: 100%;
}

.progress-container .circle {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    content: '';
    border-radius: 50%;
}

.progress-container h3 {
    font-size: 16px;
    font-family: "Playfair Display", Georgia, serif;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.progress .progress-bar .skill-name {
    position: absolute;
    top: -22px;
    right: 0;
}


/* #projects,
#education-section,
#experience {
    margin-top: 100px;
} */

.project-section {
    padding-left: 20px;
}

#projects .project-section .col-md-4 {
    margin: 0 0 20px 0;
}

#projects .project-box {
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

#projects .project-box img {
    display: block;
    width: 100%;
    height: 220px;
}

#projects .project-box .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0, 0, 0, 0.7);
}

#projects .project-box:hover .overlay {
    opacity: 1;
    padding: 70px 0 0 0;
}

#projects .project-title {
    color: #fff;
    font-size: 24px;
}

#projects .link {
    font-size: 30px;
    color: #fff;
}

#projects .link:hover {
    font-size: 35px;
    color: #BAC964;
}

#projects .live-link {
    margin: 0 0 0 10px;
}

#education-section .panel-default {
    background: #f2f3f7;
    border: 1px solid #e6e6e6 !important;
    color: #333333;
}

#education-section .panel-heading {
    padding: 15px 20px;
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}

#education-section .education-details {
    display: flex;
}

#education-section .education-details .school-name {
    width: 80%;
    text-align: left;
}

#education-section .education-details .education-year {
    width: 20%;
    text-align: right;
}

#education-section .education-details h2 {
    font-size: 16px;
    color: #000000;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 300;
}

#education-section .education-details h3 {
    font-size: 14px;
    color: #000000;
    font-family: "Playfair Display", Georgia, serif;
    font-weight: 300;
}

@media (min-width: 992px) {
    /* .side-bar {
        width: 25%;
    } */
}

@media (min-width: 992px) {
    /* .main-content {
        width: 75%;
    } */
}